*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Montserrat, sans-serif;
	max-width: 90%;
	margin: 0 auto;
}

h1 {
	margin: 15px;
	text-align: center;
	font-size: 36px;
	color: #ca8afc;
}

h2 {
	margin-top: 30px;
	text-align: center;
	font-size: 28px;
	color: #ca8afc;
}

a {
	color: #7c9ab7;
	font-weight: bold;
	text-decoration: none;
}

.loginForm {
	margin: 10px auto;
	border: 5px solid #ca8afc;
	border-radius: 20px;
	color: #ca8afc;
	width: 300px;
	height: 230px;
	background-color: #fffffc;
	padding: 10px 15px;
	box-sizing: border-box;
}

.loginForm p {
	margin: 5px 0;
}

.loginForm_text {
	text-align: center;
	font-size: 20px;
}

.loginForm_inp {
	width: 260px;
	border: unset;
	border-bottom: 2px solid #e3e3;
}

.button{
	width: 100px;
	height: 50px;
	background-color: #ca8afc;
	color: #ffffff;
	border: 2px solid #ca8afc;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.loginForm_btn {
	width: 265px;
	height: 25px;
	margin-top: 5px;
}

.msg {
	padding: 10px;
	margin-top: 20px !important; 
	border: 2px solid #ca8afc;
	background-color: rgba(255, 0, 0, 0.45);
	color: white;
	border-radius: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.go_back {
	width: 60px;
	position: absolute;
	top: 10px;
	left: 70px;
}

.error_403 {
background: url('../img/error_403_forbidden.jpg') center center/cover no-repeat;
height: 100vh;
}

.select_language {
	text-align: center;
}

.select_language_option {
	width: 260px;
	height: 25px;
	margin-top: 25px;
}

.lang_btn {
	width: 100px;
	height: 25px;
	margin-top: 0px;
}

.switch_cabinet_btn{
	position: absolute;
	top: 10px;
	left: 50px;
}

.exit {
	position: absolute;
	top: 10px;
	right: 100px;
}

.l200 {
	left: 200px;
}

.d_none {
	display: none;
}

.mt20 {
	margin-top: 20px;
}

table {
	text-align: center;
	border: 2px solid #ca8afc;
}
td, th {
	padding: 20px;
}
.userlist {
	margin: 20px;
	display: flex;
	justify-content: center;
}

.userlist_title {
	background: #ca8afc;
	color: white;
}

.signup_link {
	font-size: 11px;
	text-align: center;
}

.signup_title {
	margin-top: 20px;
	font-style: italic;
}

.signupForm {
	height: 450px;
}

.signup_select_language {
	width: 260px;
  height: 25px;
}
